<div class="layout">
  {% if calendar != blank and events != blank %}
  <div class="flex flex--col gap--medium h--full">
    {% render "now_panel", panel_classes: "rounded--large p--2 flex flex--col gap--small h--[42cqh] text--white 1bit:bg--black 2bit:bg--gray-75 4bit:bg--black", meta: current_time_label, icon: now_icon, current_event: current_event, value_classes: "value value--large md:value--xxlarge lg:value--xxxlarge", detail_classes: "title title--small md:title--medium lg:title--large", fit_height: 250, empty_value_classes: "value value--xlarge md:value--xxlarge lg:value--xxxlarge", empty_detail: "No current event", empty_detail_classes: "title title--small md:title--medium" %}

    <div class="grid grid--cols-2 gap--medium">
      {% render "next_panel", panel_classes: "outline rounded--large p--2 flex flex--col gap--small", meta: current_date_label, icon: next_icon, next_event: next_event, title_classes: "title title--medium md:title--large", time_classes: "value value--small md:value--medium value--tnums", empty_detail: "No timed events after this." %}

      <div class="outline rounded--large p--2 flex flex--col gap--small">
        {% render "later_items", events: events, next_event: next_event, now_ts: now_ts, later_limit: later_limit, wrapper_classes: "flex flex--col gap--xsmall", title_classes: "title title--small", time_classes: "label label--small", empty_text: "Nothing else scheduled.", item_style: "stacked", all_day_label: "ALL DAY" %}
      </div>
    </div>
  </div>
  {% else %}
  {% render "error_state", size: "full" %}
  {% endif %}
</div>

{% render "title_bar", title: plugin_title, instance: calendar.event_layout | upcase %}
