<div class="layout">
  {% if calendar != blank and events != blank %}
  {% if primary_event != blank %}
    {% assign hero_meta = primary_event.start | append: " – " | append: primary_event.end %}
  {% else %}
    {% assign hero_meta = blank %}
  {% endif %}
  <div class="grid grid--cols-3 gap--small h--full">

    {% render "now_panel", panel_classes: "col--span-2 rounded--large p--2 flex flex--col gap--small text--white bg--black", meta: hero_meta, event: primary_event, label: primary_label, value_classes: "value value--xxxlarge", fit_height: 110, fit_height_lg: 230, empty_value: "FREE", empty_detail: "Nothing scheduled today", empty_detail_classes: "description" %}

    <div class="flex flex--col gap--small h--full">
      {% render "next_panel", panel_classes: "outline rounded--large p--2 flex flex--col gap--xsmall grow", next_event: display_next_event, title_classes: "value value--xsmall md:value--small lg:value--large", time_classes: "value value--xsmall md:value--small", inverted: false, empty_detail: "Nothing next." %}
    </div>

  </div>
  {% else %}
  {% render "error_state", size: "half" %}
  {% endif %}
</div>

{% render "title_bar", title: plugin_title, instance: "Left / Right" %}
