{% assign calendar = calendar_source %}
{% assign events = calendar.events %}
{% assign plugin_title = trmnl.plugin_settings.custom_fields_values.custom_title | default: trmnl.plugin_settings.instance_name | default: "Calendar XL" %}

<div class="layout">
  {% if calendar != blank and events != blank %}
  {% assign now_ts = 'now' | date: '%s' | plus: 0 %}
  {% assign show_icons = trmnl.plugin_settings.custom_fields_values.show_icons == 'true' %}
  {% assign now_icon = '' %}
  {% assign next_icon = '' %}
  {% assign later_icon = '' %}
  {% if show_icons %}
    {% assign now_icon = '●' %}
    {% assign next_icon = '→' %}
    {% assign later_icon = '+' %}
  {% endif %}
  {% assign time_pattern = '%-I:%M %p' %}
  {% unless calendar.time_format == 'am/pm' %}
    {% assign time_pattern = '%H:%M' %}
  {% endunless %}
  {% assign current_date_label = calendar.today_in_tz | date: calendar.date_format | upcase %}
  {% assign current_time_label = 'now' | date: time_pattern %}
  {% assign current_event = blank %}
  {% assign next_event = blank %}
  {% assign upcoming_count = 0 %}

  {% for event in events %}
    {% assign start_ts = event.start_full | date: '%s' | plus: 0 %}
    {% assign end_ts = event.end_full | date: '%s' | plus: 0 %}
    {% if start_ts > now_ts %}
      {% assign upcoming_count = upcoming_count | plus: 1 %}
    {% endif %}
    {% unless event.all_day %}
      {% if current_event == blank and start_ts <= now_ts and end_ts > now_ts %}
        {% assign current_event = event %}
      {% endif %}
      {% if next_event == blank and start_ts > now_ts %}
        {% assign next_event = event %}
      {% endif %}
    {% endunless %}
  {% endfor %}

  <div class="grid grid--cols-2 gap--small h--full">
    {% render "now_panel", panel_classes: "rounded p--1 flex flex--col gap--xsmall text--white 1bit:bg--black 2bit:bg--gray-75 4bit:bg--black", icon: now_icon, current_event: current_event, value_classes: "value value--small md:value--medium", detail_classes: "label label--small label--inverted", fit_height: 88, empty_value_classes: "value value--small md:value--medium" %}

    {% render "next_panel", panel_classes: "outline rounded p--1 flex flex--col gap--xsmall", icon: next_icon, next_event: next_event, title_classes: "title title--small", time_classes: "label label--small" %}

    {% render "later_panel", panel_classes: "outline rounded p--1 flex flex--col gap--xsmall", meta: upcoming_count, icon: later_icon, events: events, next_event: next_event, now_ts: now_ts, later_limit: 2, wrapper_classes: "flex flex--col gap--xsmall", row_classes: "flex flex--row flex--between gap--xsmall", title_classes: "title title--small", time_classes: "label label--small", empty_text: "Quiet", item_style: "row", all_day_label: "DAY" %}

    <div class="outline rounded p--1 flex flex--col flex--between">
      <div class="label label--small label--underline">CONTEXT</div>
      <div class="value value--small md:value--medium value--tnums">{{ current_time_label }}</div>
      <div class="title title--small">{{ current_date_label }}</div>
    </div>
  </div>
  {% else %}
  {% render "error_state", size: "quadrant" %}
  {% endif %}
</div>

{% render "title_bar", title: plugin_title, instance: "2 x 2" %}
