<div class="layout">
  {% if calendar != blank and events != blank %}
  {% if primary_event != blank %}
    {% assign hero_meta = primary_event.start | append: " – " | append: primary_event.end %}
  {% else %}
    {% assign hero_meta = blank %}
  {% endif %}
  {% render "now_panel", panel_classes: "rounded--large p--2 flex flex--col gap--small h--full text--white bg--black", meta: hero_meta, event: primary_event, label: primary_label, value_classes: "value value--xxxlarge", fit_height: 130, fit_height_lg: 280, empty_value: "FREE" %}
  {% else %}
  {% render "error_state", size: "quadrant" %}
  {% endif %}
</div>

{% render "title_bar", title: plugin_title, instance: "Now" %}
